$palette: (
  brand: #7C00BC,
  accent: #0277BD,
  divider: rgba(black, 0.12),
  text: (black, rgba(black, 0.87), rgba(black, 0.54)),
  text-inverse: (10%, white, rgba(white, 0.54)),
);

$types: (
  small: (0.889, 1),
  body: (1, 1),
  h6: (1.125, 1),
  h5: (1.266, 1),
  h4: (1.424, 1),
  h3: (1.602, 2),
  h2: (1.802, 2),
  h1: (2.027, 2)
);

$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

$max-width: 900px;

@import "~dropee/src/typography";
@import "~dropee/src/grid";
@import "~dropee/src/responsive";
@import "~dropee/src/color";