@import "./_tinee.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  @include col(stretch, stretch);
  font-size: 1em;
  height: 100%;
}

body {
  @include expand();
  @include col(stretch, stretch);
  @include type(body);
}

.app {
  @include expand();
  @include row($y: center);
}

h1 {
  @include type(h1);
}

h2 {
  @include type(h2);
}

h3 {
  @include type(h3);
}

h4 {
  @include type(h4);
}

h5 {
  @include type(h5);
}

h6 {
  @include type(h6);
}